// @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');
html {
  height: 100%;
  
}

body {
  height: 100%;

  margin: 0;
  // font-family: 'Noto Sans TC', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// #root {
//   height: 100%;

//   .App {
//     height: 100%;

//     .main {
//   height: 100%;
//     }
//   }
// }